body{
    background-color: hsl(217, 100%, 97%);
}
h4{
    margin: 0;
}
main{
    margin: auto;
    width: 600px;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    padding: 1%;
    background-color: hsl(0, 0%, 100%);
    /* box-shadow: 0.1px 0.01px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#image-section{
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    background: url(download1.jpg);
    background-size: cover;
    border-radius: 4px;
}
#content-holder{
    width: 100%;
    height: 45%;
    box-sizing: border-box;
    padding: 3%;
}

#first-step,#second-step,#third-step,#fourth-step{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 33%;
}
.number{
    width: 16%;
    height: 50%;
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    border: 1px solid hsl(0, 0%, 100%);
    font-size: x-small;
    margin-top: 10%;
}
.description{
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 5%;
    color: hsl(0, 0%, 100%);
}
.description h5{
    font-size: 0.6em;
    margin-bottom: 0;
    color: hsl(231, 11%, 63%);
    opacity: 0.8;
}
.description h6{
    margin-top: 0;
}
p{
    font-size: 0.7em;
    font-weight: bold;
    margin-top: 0;
    opacity: 0.5;
}
#actual-form h2{
    color: hsl(213, 96%, 18%) ;
}
.second-section{
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding: 6%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#title{
    height: 20%;
}
#title h2{
    margin-bottom: 0;
}
#content-btn{
    width: 100%;
    height: 25%;
}
button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    border: none;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    background-color: hsl(213, 96%, 18%);
    width: 35%;
}
#back-btn{
     position: relative;
     top: 65%;
     left:3%;
}
#next-btn{
     position: relative;
     top: 65%;
    left: 30%;
}
button:hover{
    color: hsl(213, 96%, 18%);
    background-color: hsl(0, 0%, 100%);
    font-weight: bold;
}
#total{
    height: 15%;
    width: 100%;
    display: flex;
}
#total-label{
    width: 80%;
    height: 100%;
}
#total-cost{
    width: 20%;
    height: 100%;
}
h5{
    margin-top: 0;
    opacity: 0.8;
}
h6{
    font-size: 0.8rem;
    margin-top: 1px;
}
#confirmation-details{
    width: 100%;
    height:40% ;
    border-radius: 4px;
}
#confirmation-details p{
     margin-top: 1px; 
}
.individual-detail{
    width: 100%;
    height: 30%;
    display: flex;
}
.individual-detail:hover{
    box-shadow: 0px 1px hsl(229, 24%, 87%);
}
.categorical{
    width: 81%;
    height: 100%;
}
.price{
    width:19%;
    height: 100%;
}
